/data/
/renv/library/
/_targets/
/Rplots.pdf
/.Rhistory
.Rproj.user
/scripts/*.log
/scripts/*.html
/scripts/*.tex
*.Rproj
/scripts/2024-03-15-report.pdf
/scripts/ltximg/
/.python-version
/container/
/.cache/
/.rstudio/
/etc/
/data/results/*.csv
/.quarto/
/scripts/*.aux
/scripts/*_files/
/scripts/*_cache/
_extensions
_freeze
.Rapp.history
.DS_Store
.config
.local
2024-06-12-analysis-of-results_files
